{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <img src="{{ $.Site.Params.profilePicture | relURL }}" alt="profile picture" />
  <span>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
  </span>
</article>
{{- end -}}
